/*  your css code here. If applicable */
body{
	background-color: #f5f5f5;
}

#header{
	background-color: #011e29;
	color: white;
	text-align: center;
}

main{
	display:flex;
}
	
div{
	
	background-color: white;
	text-align: center;
	border-radius: 10px;
	padding: 5px;
	margin: 5px
}



.container-1{
	width: 180px;
	height: 100%;
	
	}

.container-2{
	width: 250px;
	height: 100%;
}

img{
	width: 150px
}

.container-3{
	width: 180px;

}


